html {
    background-color: #191919;
    color: #fff;
    font-family: 'Inconsolata', monospace;
    flex-direction: column;
    text-align: center;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.githubButton {
    margin: auto;
    font-size: 14px;
    position: relative;
    font-family: 'Inconsolata', monospace;
    transition: all 0.3s ease-in-out;
    background-color: #191919;
    color: #909090;
    border: 1px solid #555;
    text-align: center;
    line-height: 4px;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 30px;
    border-radius: 5px;
}

.tgButton {
    margin: auto;
    font-size: 14px;
    position: relative;
    font-family: 'Inconsolata', monospace;
    transition: all 0.3s ease-in-out;
    background-color: #229ED9;
    color: #fff;
    text-align: center;
    line-height: 4px;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #262626;
}

.tgButton:hover {
    background-color: #191919;
    border: 1px solid #229ED9;
    color: #229ED9;
    transition: all 0.3s ease-in-out;
}

.githubButton:hover {
    background-color: #909090;
    border: 1px solid #191919;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.horizontalcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    transition: all 0.5s ease-in-out;
}

.buttons {
    justify-content: center;
    display: inline-flex;
}

.kumaButton {
    margin: auto;
    font-size: 14px;
    position: relative;
    font-family: 'Inconsolata', monospace;
    transition: all 0.3s ease-in-out;
    background-color: #5BDC8A;
    color: #000;
    border: 1px solid #262626;
    text-align: center;
    line-height: 4px;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 30px;
    border-radius: 5px;
}

.kumaButton:hover {
    background-color: #323232;
    color: #5BDC8A;
    border: 0.5px solid #5BDC8A;
    transition: all 0.3s ease-in-out;
}